$mainColor: rgba(76,171,224,1);


body{
    font-family: 'MicrosoftYaHei';
}
//清楚浮动
.clear{
    clear: both;
}
//隐藏元素
.hidden{
    display: none;
}
@mixin vhCenter(){
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.ivu-table th{
    text-align: center;
    background-color: #e6e8eb;
}
.ivu-btn-primary{
    background: #4cabe0;
    border-color: #4cabe0;
}
.ivu-btn-primary:hover{
    background: #53bcf5;
    border-color: #53bcf5;
}